
.cardInfo{
    display: flex;
    flex-direction: column;
    border-left: 1px white solid;
    padding-left:1rem;
    width:max-content
}

.title{
   font-weight: bold;
   font-size: 1.5rem;

}

.button{
    width:8rem;
    background-color:#ee6c02;
    border-radius: 5rem;
    text-align: center;
    padding: 0.5rem;
    margin: auto;
    transition: all 0.2s ease-in-out;
}

.button:hover{
    background-color:#cb5c01;
}

@media(max-width:900px ){
    .cardInfo{
        margin: 0.5rem;
    }
}