
.gameForm{
    position: absolute;
    top:30vh;
    left:15vw;
    z-index: 99999999;
    border:2px solid white;
    padding:1rem;
    color:white;
    backdrop-Filter:blur(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:70vw;
}
.displayForm{
    display: none;
}

.formInfo{
    font-weight: bold;
    font-size: 1.5rem;
}

.formInfo:after{
    content: "*";
    color:red;
    display: inline-block;
}

.rule:before{
    content: "*";
    color:red;
    display: inline-block;
}

.inputText{
    margin:10px;
    padding: 3px;
    border-radius: 0.3rem;
    border: black solid 2px;
    color: black;
    width: 20vw;
}
@media(max-width:900px ){
    .gameForm{
        height: 70vh;
        width: 80vw;
        left:10vw;
    }
}
@media(max-width:500px ){
    .gameForm{
        width: 100vw;
        left:0;
    }
    .inputText{
        width: 60vw;
    }
}