.gameSection{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content:center;
    height: 90vh;
    gap:3vw;
    /* border: 2px solid red; */
}

@media(max-width:900px){
    .gameSection{
        flex-direction: column-reverse;
        align-items: center;
        height: fit-content;
        width: 80vw;
    }
}
