*{
    /* border: 1px blue solid; */

}

.gameColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap:40px;
    /* border: 2px green solid; */
}

.gameColumn.main{
    width: 45vw;
    height: 100%;
}

.gameColumn.side{
    width: 20vw;
    height: 70%;
}

.gameColumn.chat{
    width: 20vw;
    height: 70%;
    /* border:2px red solid */
}

@media(max-width:900px){

    .gameColumn.main{
        width: 80%;
        height: fit-content;
    }
    
    .gameColumn.side{
        width: 80%;
        height: fit-content;
    }

    .gameColumn.chat{
        position:fixed;
        left:auto;
        top:15vh;
        width: 60%;
        height: 70vh;
    }
}
