* {
    font-family: 'Montserrat', sans-serif !important;
}
.AvatarProfilediv{
    position: relative;
    border-radius: 9999px;
/*     border: 3px solid red; */
    display: flex;
    flex-direction: column;
    margin-right: 2rem;

}
.AvatarProfilediv > .AvatarProfile{
    /* w-32 h-32 rounded-full mr-0 md:mr-8 mb-4 md:mb-0*/
    width: 8rem;
    height: 8rem;
    border-radius: 9999px;
    margin-right: 0;
    margin-bottom: 1rem;

 
 /*    border: 8px solid rgb(25, 255, 36); */
    
}

.AvatarProfilediv:after{ 
    content: "";
    position:absolute; 

    background-image: url('../assets/images/circulaire_avatar_liane.png');
    background-size:  100% 100%;
    width: 120%;
    height: 120%;
    left: -8%;
    top: -15%;
    z-index: 999;
/*     border: 1px solid rgb(215, 20, 20); */

    
   }

@media screen and (max-width: 720px) {

    .AvatarProfilediv{
        margin-right: 0rem;
    }

}


/* .decorAvatar {
    position: absolute;
    top: 35px;
    left: 395px;
    z-index: 2;

}


@media screen and (max-width: 1867px) {
    .decorAvatar {
        position: absolute;
        top: 35px;
        left: 370px;
        z-index: 2;
    }
}

@media screen and (max-width: 1600px) {
    .decorAvatar {
        position: absolute;
        top: 35px;
        left: 270px;
        z-index: 2;
    }
}

@media screen and (max-width: 1440px) {
    .decorAvatar {
        position: absolute;
        top: 35px;
        left: 220px;
        z-index: 2;
    }
}

@media screen and (max-width: 1366px) {
    .decorAvatar {
        position: absolute;
        top: 35px;
        left: 130px;
        z-index: 2;
    }
}


@media screen and (max-width: 1024px) {
    .decorAvatar {
        position: absolute;
        top: 35px;
        left: 80px;
        z-index: 2;
    }
}

@media screen and (max-width: 768px) {
    .decorAvatar {
        position: absolute;
        top: 65px;
        left: 85px;
        z-index: 2;
    }
}

@media screen and (max-width: 425px) {
    .decorAvatar {
        position: absolute;
        top: 65px;
        left: 45px;
        z-index: 2;
    }
}
 */


