.Title{
    text-align: center;
    margin:auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    min-width: 40vw;
}

.Title:before, .Title:after{
    content: "";
    display: inline-block;
    width:5vw;
    height:0.5rem;
    background-color: white;
    margin:auto;
}

.Title:before{
    margin-right: 1rem;
}

.Title:after{
    margin-left: 1rem;
}