* {
    font-family: "Montserrat", sans-serif;
}


.WaitingRoom_Card {
    align-items: start;
    justify-content: space-evenly;

    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    margin: auto;
    width: 70vw;
    height: 70vh;
    margin-top: 5vw;
    background-color: rgba(255, 255, 255, 0.95);

}

.WaitingRoom_CardBody {
    /*  border: 1px solid #0eff4e;  */
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
    width: 100%;
    height: 80%;
}

.WaitingRoom_CardLeft {
/*   border: 1px solid #ff0000;  */

    display: flex;
    flex-direction: column;
    width: 30%;
}

.WaitingRoom_CardHeaderIntermediaire {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.WaitingRoom_CardHeader {
    margin-bottom: 10px;
}


.MetaDate {
    margin-right: 10px;
}



.WaitingRoom_CardImage img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    aspect-ratio: 1/1;

}

.WaitingRoom_CardMainInfos {
    display: flex;
    flex-direction: column;
}

.WaitingRoom_CardTitle {
  /*   border: 1px solid #e80065; */
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

.WaitingRoom_CardDescription {
/*     border: 1px solid #000000; */
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    color: #656667;
}

.WaitingRoom_CardRight {
 /*    border: 1px solid #4209ff; */
    width: 65%;
    padding: 0 20px;
    border-top : 0px;
    border-left : 6px solid ;
}

.WaitingRoom_CardRules h3,
.WaitingRoom_CardPlayers h3 {
    margin-bottom: 10px;
}
.WaitingRoom_CardPlayers{
    margin-top : 20px;
}

.WaitingRoom_CardPlayersList {
    color : #656667;
}

.WaitingRoom_CardButton {
    padding: 0.5rem 2rem;
    margin-top: 2px;
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 5px 0px rgba(192, 192, 192, 0.75);
    transition: all 0.3s ease 0s;
}

.WaitingRoom_CardButton:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0px 10px 0px rgba(192, 192, 192, 0.75);
}

.WaitingRoom_CardFooter {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}


/* responsive */

@media (max-width: 1000px) {
    .WaitingRoom_Card {
        height: 80vh;
        padding: 15px;
    }


    .WaitingRoom_CardBody {
        flex-direction: column;
        align-items: space-between;
        
    }
    .WaitingRoom_CardLeft {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        height: 30%;

    }

    .WaitingRoom_CardImage img {
        width: auto;
        height: 100%;
        aspect-ratio: 1/1;
        margin-bottom: 10px;

    }

    .WaitingRoom_CardRight {
        border-top : 6px solid;
        border-left : 0px solid;
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
        height: 65%;

        
    }

    



}




@media (max-width: 500px) {
    
    /* font-size: 1rem; */
    .WaitingRoom_CardTitle > h3 {
        font-size: 1.2rem;
    }

    .WaitingRoom_CardDescription {
        font-size: 1rem;
    }

    .WaitingRoom_CardRules h3,
.WaitingRoom_CardPlayers h3 {
    font-size: 1.2rem;
}

}
