.wsChatManager {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wsError {
    background-color: red;
}

.wsDisconnected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wsConnecting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wsWaitingRoomSelector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wsRoomWaiter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wsChatSession {
    display: flex;
    flex-direction: column;

}

.wsChatMessagesDisplayer {
    flex: 1;
}

.wsChatMessageDisplayer {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.wsMessageSender {
    display: flex;
    flex-direction: row;
}

.wsWordSender {
    display: flex;
    flex-direction: row;
    border:2px solid red
}

.wsGrid {
    border: 2px black solid;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}