.ChatManager {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Error {
    background-color: red;
}

.Disconnected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Connecting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WaitingRoomSelector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RoomWaiter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ChatSession {
    display: flex;
    flex-direction: column;

}

.ChatMessagesDisplayer {
    flex: 1;
}

.ChatMessageDisplayer {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.MessageSender {
    display: flex;
    flex-direction: row;
}

.WordSender {
    display: flex;
    flex-direction: row;
    border: 2px solid red
}

.Grid {
    border: 2px black solid;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}