.wsError {
    background-color: rgb(139, 4, 4);
    display:flex;
    flex-direction: row;
    margin:auto;
    width:fit-content;
    padding: 5px;
    gap:5px;
    position:absolute;
    top:70px;
    z-index: 999;
    left: 50%;
    transform: translate(-50%,0%);
    color:white
}

.wsError > button{
    background-color: white;
    width: 45px;
    height: fit-content;
    border-radius: 8px;
    color:black
}

.wsConnecting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    width:fit-content;
    padding: 5px;
    background-color: #579A86;
    color:white;
    border-radius: 15px;
    margin-top:75px
}